---
---

{% include header.html title="Our Adventures" %}			
		<!-- Intro -->
			<!--<section id="intro" class="main style1 dark">
				<div class="content container small shadow">
					<header>
						<h2><span class="monospace">Jason</span> <span class="fancy">& Ali</span></h2>
						<h3 class="typewriter">are totally getting married!</h3>
						<h3 class="typewriter">october 4<sup>th</sup>, 2014</h3>
						<h3 class="typewriter">chanhassen, mn</h3> 
					</header>
					<p>Welcome! We are so glad to have you here. 
					</p>

					<footer>
						<a href="#story" class="button style2 down">More</a>
					</footer>
				</div>
			</section>-->

		<!-- Adventures -->
			<section id="adventure_gallery" class="main style3 primary">
				<div class="content box container" style="background-color: rgba(255, 255, 255, 0.7);">
					<header>
						<h2>Adventures!</h2>
					</header>
					
					<!--
						 Lightbox Gallery
						 
						 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
					-->
						<div class="container small gallery">
							<!--<div class="row images">
								<div class="3u"><a href="images/fulls/01.jpg" class="image full"><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/02.jpg" class="image full"><img src="images/thumbs/02.jpg" title="Airchitecture II" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/03.jpg" class="image full"><img src="images/thumbs/03.jpg" title="Air Lounge" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/04.jpg" class="image full"><img src="images/thumbs/04.jpg" title="Carry on" alt="" /></a></div>
							</div>
							<div class="row images">
								<div class="3u"><a href="images/fulls/05.jpg" class="image full l"><img src="images/thumbs/05.jpg" title="The sparkling shell" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/06.jpg" class="image full r"><img src="images/thumbs/06.jpg" title="Bent IX" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/01.jpg" class="image full"><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/02.jpg" class="image full"><img src="images/thumbs/02.jpg" title="Airchitecture II" alt="" /></a></div>
								
							</div>-->
							<div class="row images">


<div class="3u"><a href="/images/fulls/adventures/cabin.JPG" class="image full"><img src="/images/thumbs/adventures/cabin.JPG" title="Early days at the cabin" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cabin2.JPG" class="image full"><img src="/images/thumbs/adventures/cabin2.JPG" title="Early days at the cabin" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cabin3.JPG" class="image full"><img src="/images/thumbs/adventures/cabin3.JPG" title="Early days at the cabin" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cabin4.jpg" class="image full"><img src="/images/thumbs/adventures/cabin4.jpg" title="Everyone has a laptop!" alt="Alt me" /></a></div>

							</div>
							<div class="row images">


<div class="3u"><a href="/images/fulls/adventures/cabin5.jpg" class="image full"><img src="/images/thumbs/adventures/cabin5.jpg" title="Cuddling on the boat" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cabin6.jpg" class="image full"><img src="/images/thumbs/adventures/cabin6.jpg" title="Cuddling on the boat" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cabin7.jpg" class="image full"><img src="/images/thumbs/adventures/cabin7.jpg" title="The whole group. Eric has so much hair!" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/jumping_lowres.JPG" class="image full"><img src="/images/thumbs/adventures/jumping_lowres.JPG" title="Having fun at the cabin" alt="Alt me" /></a></div>

							</div>
							<div class="row images">

<div class="3u"><a href="/images/fulls/adventures/sanfrancisco.jpg" class="image full"><img src="/images/thumbs/adventures/sanfrancisco.jpg" title="San Francisco, so long ago" alt="Alt me" /></a></div>


<div class="3u"><a href="/images/fulls/adventures/excelsior.jpg" class="image full"><img src="/images/thumbs/adventures/excelsior.jpg" title="Walking around Excelsior with Ted" alt="Alt me" /></a></div>


<div class="3u"><a href="/images/fulls/adventures/madison.jpg" class="image full"><img src="/images/thumbs/adventures/madison.jpg" title="Giant chair in Madison" alt="Alt me" /></a></div>



<div class="3u"><a href="/images/fulls/adventures/pride.JPG" class="image full"><img src="/images/thumbs/adventures/pride.JPG" title="Twin Cities Pride Festival" alt="Alt me" /></a></div>

							</div>
							<div class="row images">


<div class="3u"><a href="/images/fulls/adventures/california.jpg" class="image full"><img src="/images/thumbs/adventures/california.jpg" title="Jason's mom and Ali both visited him on his internship in Moutain View, CA." alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/california2.JPG" class="image full"><img src="/images/thumbs/adventures/california2.JPG" title="We liked these headquarters." alt="Alt me" /></a></div>


<div class="3u"><a href="/images/fulls/adventures/roadtrip_winery.JPG" class="image full"><img src="/images/thumbs/adventures/roadtrip_winery.JPG" title="Sterling Vineyards at the start of our road trip" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/roadtrip_redwoods.jpg" class="image full"><img src="/images/thumbs/adventures/roadtrip_redwoods.jpg" title="Jedediah Smith Redwoods State Park"  alt="Alt me" /></a></div>

							</div>
							<div class="row images">


<div class="3u"><a href="/images/fulls/adventures/roadtrip_coast.jpg" class="image full"><img src="/images/thumbs/adventures/roadtrip_coast.jpg" title="The Pacific coast" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/roadtrip_oregon.JPG" class="image full"><img src="/images/thumbs/adventures/roadtrip_oregon.JPG" title="Dinner with Ashleigh in Oregon" alt="Alt me" /></a></div>

<div class="3u"><a href="/images/fulls/adventures/roadtrip_spaceneedle.jpg" class="image full"><img src="/images/thumbs/adventures/roadtrip_spaceneedle.jpg" title="At the top of the Space Needle" alt="Alt me" /></a></div>

<div class="3u"><a href="/images/fulls/adventures/roadtrip_chowder.JPG" class="image full"><img src="/images/thumbs/adventures/roadtrip_chowder.JPG" title="Getting clam chowder in Seattle" alt="Alt me" /></a></div>

							</div>
							<div class="row images">


<div class="3u"><a href="/images/fulls/adventures/roadtrip.JPG" class="image full"><img src="/images/thumbs/adventures/roadtrip.JPG" title="In front of a lake on our road trip" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/glacier.jpg" class="image full"><img src="/images/thumbs/adventures/glacier.jpg" title="Glacier National Park" alt="Alt me" /></a></div>

<div class="3u"><a href="/images/fulls/adventures/roadtrip_rushmore.jpg" class="image full"><img src="/images/thumbs/adventures/roadtrip_rushmore.jpg" title="Ali sees Mount Rushmore in person for the first time" alt="Alt me" /></a></div>



<div class="3u"><a href="/images/fulls/adventures/cascade1.jpg" class="image full"><img src="/images/thumbs/adventures/cascade1.jpg" title="On the shores of Lake Superior." alt="Alt me" /></a></div>

							</div>
							<div class="row images">


<div class="3u"><a href="/images/fulls/adventures/cascade2.jpg" class="image full"><img src="/images/thumbs/adventures/cascade2.jpg" title="Cascade River Falls" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cascade3.jpg" class="image full"><img src="/images/thumbs/adventures/cascade3.jpg" title="Cascade River Falls" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cascade4.jpg" class="image full"><img src="/images/thumbs/adventures/cascade4.jpg" title="On the road to the North Shore" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cascade5.jpg" class="image full"><img src="/images/thumbs/adventures/cascade5.jpg" title="On the shores of Lake Superior" alt="Alt me" /></a></div>

							</div>
							<div class="row images">


<div class="3u"><a href="/images/fulls/adventures/cascade6.jpg" class="image full"><img src="/images/thumbs/adventures/cascade6.jpg" title="Cascade River Falls in the winter too" alt="Alt me" /></a></div>

<div class="3u"><a href="/images/fulls/adventures/perkins.JPG" class="image full"><img src="/images/thumbs/adventures/perkins.JPG" title="Late night at Perkins" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/redlobster.jpg" class="image full"><img src="/images/thumbs/adventures/redlobster.jpg" title="All you can eat shrimp!" alt="Alt me" /></a></div>

<div class="3u"><a href="/images/fulls/adventures/renfest.JPG" class="image full"><img src="/images/thumbs/adventures/renfest.JPG" title="With Ted at the Minnesota Renaissance Festival" alt="Alt me" /></a></div>

							</div>
							<div class="row images">



<div class="3u"><a href="/images/fulls/adventures/walk.JPG" class="image full"><img src="/images/thumbs/adventures/walk.JPG" title="Doing the Minnesota Heart Walk with friends" alt="Alt me" /></a></div>



<div class="3u"><a href="/images/fulls/adventures/winery.JPG" class="image full"><img src="/images/thumbs/adventures/winery.JPG" title="Parley Lake Winery" alt="" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/football3.jpg" class="image full"><img src="/images/thumbs/adventures/football3.jpg" title="Watching a game at home with Kristen" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/football4.jpg" class="image full"><img src="/images/thumbs/adventures/football4.jpg" title="The Biatek family goes out to a football game" alt="Alt me" /></a></div>


							</div>
							<div class="row images">


<div class="3u"><a href="/images/fulls/adventures/football.JPG" class="image full"><img src="/images/thumbs/adventures/football.JPG" title="With Ginelle and Ashley at the same game!" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/football2.jpg" class="image full"><img src="/images/thumbs/adventures/football2.jpg" title="Jason puts on a smile despite the result of the game" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/holidazzle.jpg" class="image full"><img src="/images/thumbs/adventures/holidazzle.jpg" title="The last Holidazzle parade with Sarah" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/christmas.jpg" class="image full"><img src="/images/thumbs/adventures/christmas.jpg" title="Our annual Christmas party with friends!" alt="Alt me" /></a></div>

							</div>
							<div class="row images">



<div class="3u"><a href="/images/fulls/adventures/florida_airport.jpg" class="image full"><img src="/images/thumbs/adventures/florida_airport.jpg" title="About to fly to Florida for amusement parks and a cruise!" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/florida_butterbeer.JPG" class="image full"><img src="/images/thumbs/adventures/florida_butterbeer.JPG" title="Sampling the butterbeer in Hogsmeade" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/florida_harrypotter.jpg" class="image full"><img src="/images/thumbs/adventures/florida_harrypotter.jpg" title="The whole gang at Hogwarts" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/florida_magic_kingdom.jpg" class="image full"><img src="/images/thumbs/adventures/florida_magic_kingdom.jpg" title="We made wishes at Disney World" alt="Alt me" /></a></div>


							</div>
							<div class="row images">


<div class="3u"><a href="/images/fulls/adventures/florida_magic_kingdom2.jpg" class="image full"><img src="/images/thumbs/adventures/florida_magic_kingdom2.jpg" title="Wonder and magic at Disney" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/florida_seuss.JPG" class="image full"><img src="/images/thumbs/adventures/florida_seuss.JPG" title="Universal Islands of Adventure" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cruise.jpg" class="image full"><img src="/images/thumbs/adventures/cruise.jpg" title="Walking tall on the first day of the cruise" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cruise_keywest.jpg" class="image full"><img src="/images/thumbs/adventures/cruise_keywest.jpg" title="Swimming in Key West" alt="Alt me" /></a></div>


							</div>
							<div class="row images">


<div class="3u"><a href="/images/fulls/adventures/cruise_bahamas.jpg" class="image full"><img src="/images/thumbs/adventures/cruise_bahamas.jpg" title="About to get back on the boat after visiting Nassau" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cruise_bahamas2.jpg" class="image full"><img src="/images/thumbs/adventures/cruise_bahamas2.jpg" title="Walking to the beach, we found a waterfall!" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/cruise_bahamas3.jpg" class="image full"><img src="/images/thumbs/adventures/cruise_bahamas3.jpg" title="On the beach in the Bahamas" alt="Alt me" /></a></div>
<div class="3u"><a href="/images/fulls/adventures/postengagement.JPG" class="image full"><img src="/images/thumbs/adventures/postengagement.JPG" title="We just got engaged!" alt="Alt me" /></a></div>

						</div>

				</div>
			</section>	

{% include footer.html %}
