---
redirect_from: /ceremony
---
{% include header.html title="The Ceremony" %}		

		<!-- Ceremony main page -->
	<section id="ceremony_main" class="main style3 primary">
		<div class="content container clearbg box">
			<header>
				<h2>The Ceremony & Reception</h2>
			</header>

			<p>The ceremony will take place at 5:00 PM at the Sensory Garden in the <a href="https://www.google.com/maps/place/Minnesota+Landscape+Arboretum/@44.8637884,-93.614626,1552m/data=!3m1!1e3!4m2!3m1!1s0x87f60484238ef4b1:0xeab1cb505e8f2fe0">Minnesota Landscape Arboretum</a>. Guests of our wedding have <strong>free</strong> admission to the Arboretum <strong>all day</strong>, so you are encouraged to come early and walk around the beautiful gardens. At the gate, just show your invitation or tell the guard that you are with the Biatek/Marsh wedding.</p>

			<p>It looks like we're going to have some crisp fall weather, so make sure to dress warmly. You'll also have to walk down the road a little bit to get to the ceremony site, so comfortable walking shoes are a good idea. The Arboretum also has golf carts that can pick you up and drop you off if that's a concern.</p>

			<p>After the ceremony, we will move to the <a href="https://www.google.com/maps/place/The+Garden+Room+of+Eden+Prairie/@44.856224,-93.461994,17z/data=!3m1!4b1!4m2!3m1!1s0x87f6192050efedfb:0x99f340c2e76aa303">Garden Room, in the Eden Prairie City Center</a>. Be prepared for dinner, dancing, and fun! It's just a short drive from the Arboretum to the Garden Room. <a href="https://www.google.com/maps/dir/Minnesota+Landscape+Arboretum,+3675+Arboretum+Dr,+Chanhassen,+MN+55318/The+Garden+Room+of+Eden+Prairie,+8080+Mitchell+Rd,+Eden+Prairie,+MN+55344/@44.8525432,-93.6057759,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x87f60484238ef4b1:0xeab1cb505e8f2fe0!2m2!1d-93.617752!2d44.864787!1m5!1m1!1s0x87f6192050efedfb:0x99f340c2e76aa303!2m2!1d-93.461994!2d44.856224">Here is a map with directions</a> to help you out.</p>

			<p>&nbsp;</p>
			<h2>RSVP</h2>
			<p>Please don't forget to <a href="rsvp.html">RSVP with our online form if you haven't already</a>!</p>

			<p>&nbsp;</p>
			<h2>Hotel information</h2>
			
			<p>If you are attending from out of town, there are a number of hotels in the area. We can recommend the <a href="http://www.marriott.com/hotels/travel/mspfe-fairfield-inn-and-suites-minneapolis-eden-prairie/">Fairfield Inn in Eden Prairie</a>, family members have stayed there before and had a good experience and it's fairly inexpensive. If you are coming from out of town, please <a href="mailto:jbiatek@gmail.com">email us</a> and tell us where you're staying so that we can leave a welcome package for you!</p>
		</div>


	</section>
			
<!-- Footer -->
{% include footer.html %}

