---
title: Jason and Ali are totally getting married!
layout: prologue
nav:
 - text: Welcome
   icon: home
   class: two
   id: welcome

 - text: Ceremony
   icon: leaf
   class: four
   id: ceremony

 - text: Reception
   icon: cutlery
   class: six
   id: reception

 - text: Registry
   icon: gift
   class: eight
   id: registry

---

<img src="images/pic01.jpg" alt="New picture coming soon" class="image featured" />

<h2><img src="images/construction.gif" alt="Construction!">Jason and Ali are totally getting married!<img src="images/construction.gif" alt="More construction!"></h2>
<p>Yep, it's really happening. </p>

{% include divider.html index="1" %}

Here's the ceremony!

{% include divider.html index="2" %}

Here's the reception!

{% include divider.html index="3" %}

We registered for gifts.
