---
redirect_from: /registry
---
{% include header.html title="Registry information" %}		

		<!-- Registry info -->
	<section id="registry" class="main style3 primary">
		<div class="content box container" style="background-color: rgba(255, 255, 255, 0.7);">
			<header>
				<h2>Registry Information</h2>
			</header>
			
			<p>We are registered at: 
			<ul>
				<li><a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=541394164&eventType=Wedding&pwsurl=">Bed Bath & Beyond</a></li>
				<li><a href="http://www1.macys.com/registry/wedding/guest/?registryId=6228702">Macy's</a></li>
				<li>And possibly more places which we will post here.</li>
			</ul>
			</p>

			<p>
			If you<!--'re weird, like we are, and you--> would prefer to get us something a little out of the ordinary we would be honored to receive that as well! We love new adventures, so we if you gave us the gift of an experience, like tickets, or passes, a lovely day with you, or some sage wisdom. If you'd like, you can also contribute to our future adventures through our honeymoon fund.  And, of course, your presence at our wedding will be a gift in and of itself. So thank you for that as well!
			</p>

			<p>(This image of the Arboretum was found on the <a href="http://earthoceanskyredux.com/2011/10/14/eos-friday-35/">Earth Ocean Sky Redux</a> blog.)
		</div>


	</section>
			
<!-- Footer -->
{% include footer.html %}

